{% extends 'layout.html.twig' %}

{% block content %}
    <div class="main-container">
        <h1>My accessories</h1>
        {# TODO Display all accessories here #}
        {% for accessory in accessories %}
            <div class="accessory">
                <h2>{{ accessory.name }}</h2>
            </div>
        {% endfor %}
    </div>
{% endblock %}
